*
    font-family: 'Nunito', sans-serif
    font-weight: 400
    scroll-behavior: smooth

.d-none
    display: none !important

.container
    max-width: 1092px
    width: 100%
    margin: 0 auto
    padding: 0 16px

h2
    font-weight: 700
    font-size: 24px
    margin-bottom: 40px

.logo
    display: flex
    align-items: center
    img
        margin-right: 14.67px
    h1
        font-weight: 800
        font-size: 25px
    p
        margin-top: 9px
        font-size: 12px

.button
    height: 40px
    font-weight: 400
    font-size: 16px
    color: #D15700
    background-color: #FFF0E6
    border-radius: 1000px
    padding: 9px 18px
    line-height: 21.8px
    text-align: center
    border: none
    transition: all 0.3s ease-out
    &:hover
        cursor: pointer
        background-color: #FFD0B2
        color: #D55406
    &--orange
        color: #fff
        background-color: #F96900
        &:hover
            color: #fff
            background-color: #ED5D08

.card
    position: relative
    max-width: 250px
    width: 100%
    min-height: 370px
    height: 100%
    display: flex
    flex-direction: column
    img
        top: 0
        position: absolute
        margin: 0 15px
        margin-bottom: 5px
        transition: all 0.3s ease-out
        &:hover
            top: 3px
    &__name
        margin-top: 220px
        font-weight: 600
        font-size: 20px
        line-height: 27px
        margin-bottom: 10px
        flex-grow: 1
        max-width: 201px
        width: 100%
        z-index: 1
    &__descr
        margin-bottom: 11px
        margin-right: 15px
        min-height: 57px
        color: #73798C
        font-weight: 400
        font-size: 14px
        line-height: 19px
        flex-grow: 1
    &__bottom
        margin-right: 20px
        display: flex
        justify-content: space-between
        align-items: center
        .button
            width: 120px
    &__price
        font-weight: 600
    &:hover
        cursor: pointer

.order
    display: flex
    flex-direction: column

.header
    margin-top: 25px
    &__content
        height: 48px
        display: flex
        justify-content: space-between
        margin-bottom: 28px
    &__phone
        text-align: right
        a
            font-weight: 600
            font-size: 18px
            line-height: 24.5px
            color: #000
        p
            font-size: 15px
            line-height: 24.5px
            color: #999

.menu
    position: sticky
    top: 0
    z-index: 100
    padding: 9px 16px
    background-color: #fff
    .content
        max-width: 1060px
        width: 100%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
    &__nav
        max-width: 467px
        width: 100%
    .active
        color: #F96900
    ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    li
        display: inline
        a
            color: #000
            font-size: 14px
            transition: all 0.3s ease-out
            &:hover
                color: #F96900

.slider
    position: relative
    margin-top: 21px
    margin-bottom: 70px
    overflow: hidden
    display: flex
    justify-content: center
    img
        max-width: 1090px
        width: 100%
        opacity: 0.2
        padding: 0 16px
        border-radius: 15px
        &:hover
            cursor: pointer
    .active
        opacity: 1
    .mobile
        display: none 
    &__dotts
        position: absolute
        bottom: 17px
        display: flex
        justify-content: center
        transition: all 0.5s ease-out
        opacity: 0
        .dot
            margin: 0 4px
            width: 12px
            height: 12px
            background: #554D4A
            border-radius: 50%
            border: none
            &:hover
                cursor: pointer
    &:hover
        .slider__dotts
            opacity: 1

.new
    overflow: hidden
    
    h2
        margin-bottom: 20px
    .content
        padding-top: 10px
        height: 104px
        margin-bottom: 50px
        display: flex
        width: max-content
    &__card
        height: 104px
        width: 250px
        margin-right: 20px
        padding: 14px 18px
        display: flex
        transition: all 0.3s ease-out
        align-items: center
        box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05)
        border-radius: 10px
        img
            width: 76px
            margin-right: 22px
        &:hover
            cursor: pointer
            box-shadow: rgb(6 5 50 / 15%) 0px 0px 12px -4px
    &__name
        margin-bottom: 4px
        font-size: 14px
        line-height: 19px
    &__price
        font-weight: 600
        font-size: 16px
        line-height: 22px

.product
    padding-top: 20px
    margin-bottom: 50px
    .content
        display: grid
        grid-template-columns: repeat(4, 1fr)
        justify-items: center
        column-gap: 20px
        row-gap: 60px
    &:last-of-type
        padding-bottom: 84px

.footer
    background-color: #464C55
    padding-top: 50px
    padding-bottom: 36px
    &__top
        display: flex
        justify-content: space-between
        margin-bottom: 93px
    &__lists
        display: grid
        grid-template-columns: repeat(4, 1fr)
        max-width: 666px
        width: 100%
        color: #fff
        p
            margin-bottom: 10px
        li
            margin-bottom: 10px
            max-width: 130px
            width: 100%
        a
            color: #fff
            opacity: 0.7
            line-height: 26px
            transition: all 0.3s ease-out
            &:hover
                opacity: 1
    &__contacts
        a
            display: inline-block
            margin-bottom: 29px
    &__phone
        margin-bottom: 26px
        text-align: right
        a
            color: #fff
            font-weight: 600
            font-size: 26px
            line-height: 26px
            margin-bottom: 6px
        p
            margin-top: 6px
            font-size: 15px
            color: #FFFFFF
            opacity: 0.5
    &__mail
        text-align: right
        a
            font-size: 15px
            line-height: 20px
            color: #FFFFFF
            opacity: 0.9
    hr
        margin: 0
        margin-bottom: 40px
        opacity: 0.2
        height: 1px
    &__middle
        margin-bottom: 40px
        max-width: 696px
        width: 100%
        display: flex
        justify-content: space-between
        .statistic
            max-width: 299px
            width: 100%
            &__title
                font-weight: 600
                font-size: 26px
                line-height: 26px
                color: #fff
                margin-bottom: 12px
            &__descr
                font-size: 16px
                line-height: 22px
                color: #FFFFFF
                opacity: 0.7
    &__bottom
        .wrapper
            display: flex
            justify-content: space-between
            align-items: center
    &__logo
        margin-right: 28.39px
        font-weight: 800
        font-size: 25px
        text-transform: uppercase
        color: #C7C8CB
    &__copyright
        color: #FFFFFF
        opacity: 0.7
    &__other
        max-width: 443px
        width: 100%
        ul
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        a
            color: #FFFFFF
            opacity: 0.7
            transition: all 0.3s ease-out
            &:hover
                opacity: 1
    &__social
        display: flex
        height: 32px
        a
            width: 32px
            height: 32px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 6px
            background-color: #666c75
            border-radius: 4px
            &:last-child
                margin-right: 0
            &:hover
                img
                    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(62deg) brightness(106%) contrast(100%)
            img
                transition: all 0.5s ease-out
                filter: invert(76%) sepia(5%) saturate(167%) hue-rotate(182deg) brightness(95%) contrast(97%)

@media (max-width: 1200px)
    .container
        max-width: 1092px

@media (max-width: 992px)
    .product
        .content
            grid-template-columns: repeat(3, 1fr)

@media (max-width: 768px)
    .product
        .content
            grid-template-columns: repeat(2, 1fr)

@media (max-width: 576px)
    .header
        margin-top: 12px
        order: -2
        &__phone
            display: none
    .logo
        p
            display: none
    
    .menu
        overflow: hidden
        order: -1
        margin-bottom: 20px
        .content
            width: max-content
            .active
                background-color: #FFF0E6
                a
                    color: #D15700
        &__nav
            max-width: max-content
            li
                background: #F3F3F7
                padding: 6px 15px
                border-radius: 100px
                margin-right: 8px
                a
                    font-weight: 600
                    color: #464C55
                    line-height: 19px
        &__basket
            display: none

    .slider
        margin-top: 0
        justify-content: flex-start
        margin-left: 16px
        margin-bottom: 20px
        order: -2
        img
            padding: 0
            margin-left: 0
            margin-right: 10px
        &__dotts
            display: none
        .desktop
            display: none
        .mobile
            display: block   
    
    .new
        order: -2
        .content
            margin-bottom: 30px
        h2
            margin-bottom: 10px
        &__card
            width: 240px
            height: 108px
            margin-right: 10px
    
    .product
        padding-top: 0
        margin-bottom: 30px
        .content
            grid-template-columns: 1fr
            row-gap: 0
        h2
            margin-bottom: 20px
        &:last-of-type
            padding-bottom: 40px
    
    .card
        max-width: 576px
        padding: 16px 0
        flex-direction: row
        align-items: center
        min-height: auto
        img
            margin: 0
            margin-right: 7px
            position: unset
            width: 115px
        &__name
            margin-top: 0
            margin-bottom: 4px
            line-height: 20px
            font-size: 18px
        &__descr
            font-size: 12px
            line-height: 16px
            margin-right: 0
            margin-bottom: 8px
            min-height: unset
        button
            display: none
        &__bottom
            .button
                width: 96px

    .button
        font-size: 14px
        height: 32px
        padding: 6px 20px
    
    #pizza
        h2
            display: none
        .product
            margin-top: 0

// @media (max-width: 320px)
    // .product
    //     .content
    //         grid-template-columns: 1fr