*
    font-family: 'Nunito', sans-serif
    font-weight: 400
    scroll-behavior: smooth

body
    &::-webkit-scrollbar
        display: none

.d-none
    display: none !important

.container
    max-width: 1092px
    width: 100%
    margin: 0 auto
    padding: 0 16px

h2
    font-weight: 700
    font-size: 24px
    margin-bottom: 40px

.logo
    display: flex
    align-items: center
    img
        margin-right: 14.67px
    h1
        font-weight: 800
        font-size: 25px
    p
        margin-top: 9px
        font-size: 12px

.button
    height: 40px
    font-weight: 400
    font-size: 16px
    color: #D15700
    background-color: #FFF0E6
    border-radius: 1000px
    padding: 9px 18px
    line-height: 21.8px
    text-align: center
    border: none
    transition: all 0.3s ease-out
    &:hover
        cursor: pointer
        background-color: #FFD0B2
        color: #D55406
    &--orange
        color: #fff
        background-color: #F96900
        &:hover
            color: #fff
            background-color: #ED5D08

.card
    position: relative
    max-width: 250px
    width: 100%
    min-height: 370px
    height: 100%
    display: flex
    flex-direction: column
    img
        top: 0
        position: absolute
        margin: 0 15px 5px 15px
        transition: all 0.3s ease-out
        &:hover
            top: 3px
    &__name
        margin-top: 220px
        font-weight: 600
        font-size: 20px
        line-height: 27px
        margin-bottom: 10px
        flex-grow: 1
        max-width: 201px
        width: 100%
        z-index: 1
    &__descr
        margin-bottom: 11px
        margin-right: 15px
        min-height: 57px
        color: #73798C
        font-weight: 400
        font-size: 14px
        line-height: 19px
        flex-grow: 1
    &__bottom
        margin-right: 20px
        display: flex
        justify-content: space-between
        align-items: center
        .button
            width: 120px
    &__price
        font-weight: 600
    &:hover
        cursor: pointer

.order
    display: flex
    flex-direction: column
    position: relative

.header
    margin-top: 25px
    &__content
        height: 48px
        display: flex
        justify-content: space-between
        margin-bottom: 28px
        a
            color: #000
    &__phone
        text-align: right
        a
            font-weight: 600
            font-size: 18px
            line-height: 24.5px
            color: #000
        p
            font-size: 15px
            line-height: 24.5px
            color: #999
    &__steps
        display: flex
        justify-content: space-between
        max-width: 401px
        width: 100%
        .step
            font-size: 14px
            font-weight: 600
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            opacity: 0.5
            height: 52px
            &__number
                display: flex
                align-items: center
                justify-content: center
                outline: 1px solid #424242
                border-radius: 50%
                width: 32px
                height: 32px
                font-weight: 700
                margin-bottom: 1px
            // &__title
            //     line-height: 19px
            &__active
                opacity: 1

.menu
    position: sticky
    top: 0
    z-index: 100
    padding: 9px 16px
    background-color: #fff
    .content
        max-width: 1060px
        width: 100%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
    &__nav
        max-width: 467px
        width: 100%
    .active
        color: #F96900
    ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    li
        display: inline
        a
            color: #000
            font-size: 14px
            transition: all 0.3s ease-out
            &:hover
                color: #F96900
    &__basket
        img
            display: none
    &__quantity
        display: none

.slider
    position: relative
    margin-top: 21px
    margin-bottom: 70px
    overflow: hidden
    display: flex
    justify-content: center
    img
        max-width: 1090px
        width: 100%
        opacity: 0.2
        padding: 0 16px
        border-radius: 15px
        &:hover
            cursor: pointer
    .active
        opacity: 1
    .mobile
        display: none 
    &__dotts
        position: absolute
        bottom: 17px
        left: 50%
        transform: translateX(-50%)
        transition: all 0.5s ease-out
        opacity: 0
        .dot
            margin: 0 4px
            width: 12px
            height: 12px
            background: #554D4A
            border-radius: 50%
            border: none
            &:hover
                cursor: pointer
    &:hover
        .slider__dotts
            opacity: 1

.new
    overflow: hidden
    
    h2
        margin-bottom: 20px
    .content
        padding-top: 10px
        height: 104px
        margin-bottom: 50px
        display: flex
        width: max-content
    &__card
        height: 104px
        width: 250px
        margin-right: 20px
        padding: 14px 18px
        display: flex
        transition: all 0.3s ease-out
        align-items: center
        box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05)
        border-radius: 10px
        img
            width: 76px
            margin-right: 22px
        &:hover
            cursor: pointer
            box-shadow: rgb(6 5 50 / 15%) 0px 0px 12px -4px
    &__name
        margin-bottom: 4px
        font-size: 14px
        line-height: 19px
    &__price
        font-weight: 600
        font-size: 16px
        line-height: 22px

.product
    padding-top: 60px
    margin-bottom: 10px
    .content
        display: grid
        grid-template-columns: repeat(4, 1fr)
        justify-items: center
        column-gap: 20px
        row-gap: 60px
    &:last-of-type
        padding-bottom: 124px

.footer
    background-color: #464C55
    padding-top: 50px
    padding-bottom: 36px
    &__top
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 73px
    &__lists
        display: grid
        grid-template-columns: repeat(4, 1fr)
        max-width: 666px
        width: 100%
        color: #fff
        margin-bottom: 20px
        p
            margin-bottom: 10px
            font-weight: 600
        li
            margin-bottom: 10px
            max-width: 130px
            width: 100%
        a
            color: #fff
            opacity: 0.7
            line-height: 26px
            transition: all 0.3s ease-out
            &:hover
                opacity: 1
    &__contacts
        a
            display: inline-block
            margin-bottom: 10px
    &__apps
        text-align: right
        margin-bottom: 19px
    &__phone
        margin-bottom: 26px
        text-align: right
        a
            color: #fff
            font-weight: 600
            font-size: 26px
            line-height: 26px
            margin-bottom: 6px
        p
            margin-top: 6px
            font-size: 15px
            color: #FFFFFF
            opacity: 0.5
    &__mail
        text-align: right
        a
            font-size: 15px
            line-height: 20px
            color: #FFFFFF
            opacity: 0.9
    hr
        margin: 0
        margin-bottom: 40px
        opacity: 0.2
        height: 1px
    &__middle
        margin-bottom: 40px
        max-width: 696px
        width: 100%
        display: flex
        justify-content: space-between
        .statistic
            max-width: 299px
            width: 100%
            &__title
                font-weight: 600
                font-size: 26px
                line-height: 26px
                color: #fff
                margin-bottom: 12px
            &__descr
                font-size: 16px
                line-height: 22px
                color: #FFFFFF
                opacity: 0.7
    &__bottom
        .wrapper
            display: flex
            justify-content: space-between
            align-items: center
    &__logo
        margin-right: 28.39px
        font-weight: 800
        font-size: 25px
        text-transform: uppercase
        color: #C7C8CB
    &__copyright
        color: #FFFFFF
        opacity: 0.7
    &__other
        max-width: 443px
        width: 100%
        ul
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        a
            color: #FFFFFF
            opacity: 0.7
            transition: all 0.3s ease-out
            &:hover
                opacity: 1
    &__social
        display: flex
        height: 32px
        a
            width: 32px
            height: 32px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 6px
            background-color: #666c75
            border-radius: 4px
            &:last-child
                margin-right: 0
            &:hover
                img
                    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(62deg) brightness(106%) contrast(100%)
            img
                transition: all 0.5s ease-out
                filter: invert(76%) sepia(5%) saturate(167%) hue-rotate(182deg) brightness(95%) contrast(97%)
    .mobile
        display: none

.modal
    position: absolute
    z-index: 100
    left: 50%
    top: 10vh
    transform: translateX(-50%)
    max-width: 920px
    width: 100%
    height: 610px
    box-shadow: 0px 6px 55px rgba(0, 0, 0, 0.1)
    &__back
        background-color: rgba(90, 90, 90, 0.92)
        position: fixed
        inset: 0
        z-index: 100
        overflow: hidden
    &__content
        background-color: #FFFFFF
        display: flex
        margin: 0 auto
        height: 100%
        overflow: hidden
        border-radius: 20px
    &__img
        position: relative
        width: 100%
        margin-top: 10px
        margin-left: 18px
        display: flex
        align-items: center
        justify-content: center
    &__border
        .border
            width: 458px
            position: absolute
            top: 56px
            left: 16px
            z-index: 101
    &__pizza
        .big
            width: 492px
        .middle
            width: 372px
        .small
            width: 300px
    &__settings
        max-width: 380px
        width: 100%
        padding: 30px
        padding-bottom: 40px
        margin-bottom: 50px
        background: #FCFCFC
        overflow: auto
        &::-webkit-scrollbar
            display: none
        &__wrapper
            background: #FCFCFC
    &__title
        font-weight: 600
        line-height: 33px
        margin-bottom: 3px
        max-width: 270px
    &__descr
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: #73798C
        margin-bottom: 11px
    &__close
        border: none
        background-color: transparent
        position: absolute
        top: 20px
        right: -40px
        padding: 0
        .icon__close
            display: block
        .icon__arrow
            display: none
        img
            width: 24px
        &:hover
            cursor: pointer

    .form
        position: relative
        &__tags
            margin-bottom: 20px    
        &__tag
            display: inline-block
            font-size: 13px
            line-height: 15px
            color: #4D4D4D
            margin-bottom: 3px
        &__radios
            max-width: 320px
            width: 100%
            height: 32px
            background: #F3F3F7
            border-radius: 100px
            padding: 2px
            display: flex
            align-items: center
            margin: 0 auto
            margin-bottom: 10px
        &__radio
            display: inline-block
            width: 100%
            text-align: center
            input
                display: none
                &:checked + span
                    padding: 7px 28px 5px 28px
                    opacity: 1
                    background: #FFFFFF
                    box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05)
                    border-radius: 100px
            span
                font-size: 12px
                opacity: 0.7
                &:hover
                    cursor: pointer
        h3
            margin-top: 17px
            font-weight: 600
            font-size: 16px
            margin-bottom: 11px
        &__dops
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 10px
        &__button
            position: fixed
            bottom: 30px
            width: 100%
            button
                max-width: 320px
                width: 100%

.modal2
    max-width: 740px
    height: 389px
    top: 20vh
    &__descr
        margin-bottom: 15px
    &__descr2
        color: #4D4D4D

.dop
    padding-top: 3px
    position: relative
    overflow: hidden
    width: 100px
    height: 150px
    background: #FFFFFF
    box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05)
    border-radius: 12px
    margin: 0 auto
    &__text
        position: absolute
        text-align: center
        left: 50%
        transform: translateX(-50%)
    &__name
        font-size: 12px
        line-height: 16px
        color: #000
        width: 81px
        margin-bottom: 4px
        min-height: 32px
    &__price
        font-weight: 600
        font-size: 14px
        line-height: 19px
        color: #000
    input
        display: none
    &__check
        outline: 1px solid #F96900
        &__icon
            position: absolute
            top: 10px
            right: 10px
    &:hover
        cursor: pointer

.basket
    header
        border-bottom: 1px solid #E1E1E8
        margin-bottom: 70px
    &__container
            max-width: 700px
            overflow: auto
            &::-webkit-scrollbar
                display: none
    h1.title
        font-weight: 600
        font-size: 36px
        line-height: 49px
    .new
        margin-bottom: 65px
        .content
            height: unset
        &__card
            box-shadow: unset
            outline: 1px solid #E1E1E8


@media (max-width: 992px)
    .product
        .content
            grid-template-columns: repeat(3, 1fr)
    .footer
        &__top
            justify-content: center
        &__phone
            text-align: center
        &__mail
            text-align: center
        &__other
            width: auto
            ul
                flex-direction: column
                margin-bottom: 20px
            li
                margin-bottom: 10px
                a
                    line-height: 22px
    .modal
        &__border
            .border
                display: none

@media (max-width: 768px)
    .product
        .content
            grid-template-columns: repeat(2, 1fr)
    .footer
        &__top
            margin-bottom: 20px
    .modal
        .form
            &__dops
                grid-template-columns: repeat(2, 1fr)
            &__button
                display: flex
                justify-content: center
                width: -webkit-fill-available
                margin-right: 30px

@media (max-width: 576px)
    .header
        margin-top: 12px
        order: -2
        &__phone
            display: none
    .logo
        p
            display: none
    
    .menu
        overflow: auto
        &::-webkit-scrollbar
            display: none
        order: -1
        margin-bottom: 20px
        padding: 13px 16px
        .content
            width: max-content
            .active
                background-color: #FFF0E6
                a
                    color: #D15700
        &__nav
            max-width: max-content
            li
                background: #F3F3F7
                padding: 6px 15px
                border-radius: 100px
                margin-right: 8px
                a
                    font-weight: 600
                    color: #464C55
                    line-height: 19px
        &__basket.button
            position: fixed
            bottom: 20px
            right: 20px
            width: 56px
            height: 56px
            padding: 14px
            background: linear-gradient(180deg, #FF6A0A 0%, #FD5608 100%)
            box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15)
            span
                display: none
            img
                display: block
        &__quantity
            width: 22px
            height: 22px
            background: #FFFFFF
            outline: 1px solid #FF6409
            border-radius: 50%
            position: absolute
            top: 0
            right: -4px
            display: block
            font-size: 14px
            line-height: 16px
            text-align: center
            color: #FF6409
            display: flex
            align-items: center
            justify-content: center

    .slider
        margin-top: 0
        justify-content: flex-start
        margin-left: 16px
        margin-bottom: 20px
        order: -2
        img
            padding: 0
            margin-left: 0
            margin-right: 10px
        &__dotts
            display: none
        .desktop
            display: none
        .mobile
            display: block   
    
    .new
        order: -2
        .container
            overflow: auto
            &::-webkit-scrollbar
                display: none
        .content
            margin-bottom: 30px
        h2
            margin-bottom: 10px
        &__card
            width: 240px
            height: 108px
            margin-right: 10px
    
    .product
        // padding-top: 30px
        .content
            grid-template-columns: 1fr
            row-gap: 0
        h2
            margin-bottom: 20px
        &:last-of-type
            padding-bottom: 40px
    
    .card
        max-width: 576px
        padding: 16px 0
        flex-direction: row
        align-items: center
        min-height: auto
        img
            margin: 0
            margin-right: 7px
            position: unset
            width: 115px
        &__name
            margin-top: 0
            margin-bottom: 4px
            line-height: 20px
            font-size: 18px
        &__descr
            font-size: 12px
            line-height: 16px
            margin-right: 0
            margin-bottom: 8px
            min-height: unset
        button
            display: none
        &__bottom
            .button
                width: 96px

    .button
        font-size: 14px
        height: 32px
        padding: 6px 20px
    
    #pizza
        h2
            display: none
        .product
            margin-top: 0
    
    .footer
        padding: 20px 0
        &__top
            flex-direction: column
            margin-bottom: 0
        &__lists
            margin-bottom: 0
            grid-template-columns: 1fr
            font-weight: 600
            p
                margin-bottom: 12px
                line-height: 24px
            a
                line-height: 24px
        &__list
            margin-bottom: 10px
            li
                max-width: fit-content
        &__phone
            display: none
        &__contacts
            display: flex
            flex-direction: column-reverse
            a
                margin-bottom: 20px
        &__apps
            text-align: left
            margin-bottom: 0
        &__mail
            text-align: left
            a
                font-size: 16px
        hr
            margin-bottom: 20px
            display: none
            opacity: 0.1
            width: 100%
        &__middle
            display: none
        &__bottom
            .wrapper
                align-items: flex-start
                flex-direction: column-reverse
        &__social
            margin-bottom: 20px
        .mobile
            display: block
    
    .modal
        top: 0
        height: -webkit-fill-available
        &__content
            flex-direction: column
            border-radius: unset
        &__img
            padding-top: 26px
            margin: 0 0 6px 0
        &__settings
            max-width: unset
            background: unset
            padding: 0 16px
            margin-bottom: 40px
        &__pizza
            width: 288px
            height: 288px
    
        .form
            &__dops
                column-gap: 8px
                margin-bottom: 78px
            &__button
                bottom: 16px
                margin: 0 0 0 -16px
                button
                    height: 48px
                    font-size: 16px
                    font-weight: 600
                    line-height: 22px
                    max-width: 288px
        &__close
            top: 16px
            left: 16px
            background: red
            height: 48px
            width: 48px
            border-radius: 50%
            background: #FFFFFF
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05)
            .icon__close
                display: none
            .icon__arrow
                display: block
                margin: 0 auto
                margin-top: 4px
    
    .dop
        width: 140px
        img
            margin: 0 auto
        &:first-of-type
            img
                margin: 10px 0 0 0

