*
    font-family: 'Nunito', sans-serif
    font-weight: 400
    scroll-behavior: smooth

body
    padding-bottom: 84px

.container
    max-width: 1092px
    width: 100%
    margin: 0 auto
    padding: 0 16px

h2
    font-weight: 700
    font-size: 24px
    margin-bottom: 40px

.logo
    display: flex
    img
        margin-right: 14.67px
    h1
        font-weight: 800
        font-size: 25px
        margin-bottom: 9px
    p
        font-size: 12px

.button
    height: 40px
    font-weight: 400
    font-size: 16px
    color: #D15700
    background-color: #FFF0E6
    border-radius: 1000px
    padding: 9px 18px
    line-height: 21.8px
    text-align: center
    border: none
    transition: all 0.3s ease-out
    &:hover
        cursor: pointer
        background-color: #FFD0B2
        color: #D55406
    &--orange
        color: #fff
        background-color: #F96900
        &:hover
            color: #fff
            background-color: #ED5D08

.card
    position: relative
    max-width: 250px
    width: 100%
    min-height: 370px
    height: 100%
    display: flex
    flex-direction: column
    img
        top: 0
        position: absolute
        margin: 0 15px
        margin-bottom: 5px
        transition: all 0.3s ease-out
        &:hover
            top: 3px
    &__name
        margin-top: 220px
        font-weight: 600
        font-size: 20px
        line-height: 27px
        margin-bottom: 10px
        flex-grow: 1
    &__descr
        margin-bottom: 11px
        margin-right: 15px
        min-height: 57px
        color: #73798C
        font-weight: 400
        font-size: 14px
        line-height: 19px
        flex-grow: 1
    &__bottom
        margin-right: 20px
        display: flex
        justify-content: space-between
        align-items: center
        .button
            width: 120px
    &__price
        font-weight: 600
    &:hover
        cursor: pointer

.header
    margin-top: 25px
    margin-bottom: 30px
    &__top
        height: 48px
        display: flex
        justify-content: space-between
        margin-bottom: 28px
    &__phone
        text-align: right
        a
            font-weight: 600
            font-size: 18px
            line-height: 24.5px
            color: #000
        p
            font-size: 15px
            line-height: 24.5px
            color: #999
    &__bottom
        position: sticky
        top: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        height: 40px
        background-color: #fff
    &__nav
        max-width: 467px
        width: 100%
        
        .active
            color: #F96900
        ul
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        li
            display: inline
        a
            color: #000
            font-size: 14px
            transition: all 0.3s ease-out
            &:hover
                color: #F96900

.slider
    position: relative
    margin-bottom: 70px
    overflow: hidden
    display: flex
    justify-content: center
    img
        max-width: 1090px
        width: 100%
        opacity: 0.2
        margin: 0 15px
        &:hover
            cursor: pointer
    .active
        opacity: 1
    &__dotts
        position: absolute
        bottom: 17px
        display: flex
        justify-content: center
        transition: all 0.5s ease-out
        opacity: 0
        .dot
            margin: 0 4px
            width: 12px
            height: 12px
            background: #554D4A
            border-radius: 50%
            border: none
            &:hover
                cursor: pointer
    &:hover
        .slider__dotts
            opacity: 1

.new
    overflow: hidden
    
    h2
        margin-bottom: 20px
    .content
        padding-top: 10px
        height: 104px
        margin-bottom: 50px
        display: flex
        width: max-content
    &__card
        height: 104px
        width: 250px
        margin-right: 20px
        padding: 14px 18px
        display: flex
        transition: all 0.3s ease-out
        align-items: center
        box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05)
        border-radius: 10px
        img
            width: 76px
            margin-right: 22px
        &:hover
            cursor: pointer
            box-shadow: rgb(6 5 50 / 15%) 0px 0px 12px -4px
    &__name
        margin-bottom: 4px
        font-size: 14px
        line-height: 19px
    &__price
        font-weight: 600
        font-size: 16px
        line-height: 22px

.product
    padding-top: 20px
    margin-bottom: 50px
    .content
        display: grid
        grid-template-columns: repeat(4, 1fr)
        column-gap: 20px
        row-gap: 60px