* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1092px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 14.67px;
}
.logo h1 {
  font-weight: 800;
  font-size: 25px;
}
.logo p {
  margin-top: 9px;
  font-size: 12px;
}

.button {
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #D15700;
  background-color: #FFF0E6;
  border-radius: 1000px;
  padding: 9px 18px;
  line-height: 21.8px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-out;
}
.button:hover {
  cursor: pointer;
  background-color: #FFD0B2;
  color: #D55406;
}
.button--orange {
  color: #fff;
  background-color: #F96900;
}
.button--orange:hover {
  color: #fff;
  background-color: #ED5D08;
}

.card {
  position: relative;
  max-width: 250px;
  width: 100%;
  min-height: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card img {
  top: 0;
  position: absolute;
  margin: 0 15px 5px 15px;
  transition: all 0.3s ease-out;
}
.card img:hover {
  top: 3px;
}
.card__name {
  margin-top: 220px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
  flex-grow: 1;
  max-width: 201px;
  width: 100%;
  z-index: 1;
}
.card__descr {
  margin-bottom: 11px;
  margin-right: 15px;
  min-height: 57px;
  color: #73798C;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  flex-grow: 1;
}
.card__bottom {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__bottom .button {
  width: 120px;
}
.card__price {
  font-weight: 600;
}
.card:hover {
  cursor: pointer;
}

.order {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  margin-top: 25px;
}
.header__content {
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.header__phone {
  text-align: right;
}
.header__phone a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.5px;
  color: #000;
}
.header__phone p {
  font-size: 15px;
  line-height: 24.5px;
  color: #999;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 9px 16px;
  background-color: #fff;
}
.menu .content {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu__nav {
  max-width: 467px;
  width: 100%;
}
.menu .active {
  color: #F96900;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu li {
  display: inline;
}
.menu li a {
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease-out;
}
.menu li a:hover {
  color: #F96900;
}
.menu__basket img {
  display: none;
}
.menu__quantity {
  display: none;
}

.slider {
  position: relative;
  margin-top: 21px;
  margin-bottom: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.slider img {
  max-width: 1090px;
  width: 100%;
  opacity: 0.2;
  padding: 0 16px;
  border-radius: 15px;
}
.slider img:hover {
  cursor: pointer;
}
.slider .active {
  opacity: 1;
}
.slider .mobile {
  display: none;
}
.slider__dotts {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
  opacity: 0;
}
.slider__dotts .dot {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  background: #554D4A;
  border-radius: 50%;
  border: none;
}
.slider__dotts .dot:hover {
  cursor: pointer;
}
.slider:hover .slider__dotts {
  opacity: 1;
}

.new {
  overflow: hidden;
}
.new::-webkit-scrollbar {
  display: none;
}
.new h2 {
  margin-bottom: 20px;
}
.new .content {
  padding-top: 10px;
  height: 104px;
  margin-bottom: 50px;
  display: flex;
  width: max-content;
}
.new__card {
  height: 104px;
  width: 250px;
  margin-right: 20px;
  padding: 14px 18px;
  display: flex;
  transition: all 0.3s ease-out;
  align-items: center;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
}
.new__card img {
  width: 76px;
  margin-right: 22px;
}
.new__card:hover {
  cursor: pointer;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
}
.new__name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 19px;
}
.new__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.product {
  padding-top: 60px;
  margin-bottom: 10px;
}
.product .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 20px;
  row-gap: 60px;
}
.product:last-of-type {
  padding-bottom: 124px;
}

.footer {
  background-color: #464C55;
  padding-top: 50px;
  padding-bottom: 36px;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 73px;
}
.footer__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 666px;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}
.footer__lists p {
  margin-bottom: 10px;
  font-weight: 600;
}
.footer__lists li {
  margin-bottom: 10px;
  max-width: 130px;
  width: 100%;
}
.footer__lists a {
  color: #fff;
  opacity: 0.7;
  line-height: 26px;
  transition: all 0.3s ease-out;
}
.footer__lists a:hover {
  opacity: 1;
}
.footer__contacts a {
  display: inline-block;
  margin-bottom: 10px;
}
.footer__apps {
  text-align: right;
  margin-bottom: 19px;
}
.footer__phone {
  margin-bottom: 26px;
  text-align: right;
}
.footer__phone a {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 6px;
}
.footer__phone p {
  margin-top: 6px;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__mail {
  text-align: right;
}
.footer__mail a {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.9;
}
.footer hr {
  margin: 0;
  margin-bottom: 40px;
  opacity: 0.2;
  height: 1px;
}
.footer__middle {
  margin-bottom: 40px;
  max-width: 696px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__middle .statistic {
  max-width: 299px;
  width: 100%;
}
.footer__middle .statistic__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 12px;
}
.footer__middle .statistic__descr {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  margin-right: 28.39px;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  color: #C7C8CB;
}
.footer__copyright {
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__other {
  max-width: 443px;
  width: 100%;
}
.footer__other ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__other a {
  color: #FFFFFF;
  opacity: 0.7;
  transition: all 0.3s ease-out;
}
.footer__other a:hover {
  opacity: 1;
}
.footer__social {
  display: flex;
  height: 32px;
}
.footer__social a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  background-color: #666c75;
  border-radius: 4px;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social a:hover img {
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(62deg) brightness(106%) contrast(100%);
}
.footer__social a img {
  transition: all 0.5s ease-out;
  filter: invert(76%) sepia(5%) saturate(167%) hue-rotate(182deg) brightness(95%) contrast(97%);
}
.footer .mobile {
  display: none;
}

.modal {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
  max-width: 920px;
  width: 100%;
  height: 610px;
  box-shadow: 0px 6px 55px rgba(0, 0, 0, 0.1);
}
.modal__back {
  background-color: rgba(90, 90, 90, 0.92);
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: hidden;
}
.modal__content {
  background-color: #FFFFFF;
  display: flex;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.modal__img {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__border .border {
  width: 458px;
  position: absolute;
  top: 56px;
  left: 16px;
  z-index: 101;
}
.modal__pizza .big {
  width: 492px;
}
.modal__pizza .middle {
  width: 372px;
}
.modal__pizza .small {
  width: 300px;
}
.modal__settings {
  max-width: 380px;
  width: 100%;
  padding: 30px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  background: #FCFCFC;
  overflow: auto;
}
.modal__settings::-webkit-scrollbar {
  display: none;
}
.modal__settings__wrapper {
  background: #FCFCFC;
}
.modal__title {
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 3px;
  max-width: 270px;
}
.modal__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73798C;
  margin-bottom: 11px;
}
.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: -40px;
  padding: 0;
}
.modal__close .icon__close {
  display: block;
}
.modal__close .icon__arrow {
  display: none;
}
.modal__close img {
  width: 24px;
}
.modal__close:hover {
  cursor: pointer;
}
.modal .form {
  position: relative;
}
.modal .form__tags {
  margin-bottom: 20px;
}
.modal .form__tag {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  color: #4D4D4D;
  margin-bottom: 3px;
}
.modal .form__radios {
  max-width: 320px;
  width: 100%;
  height: 32px;
  background: #F3F3F7;
  border-radius: 100px;
  padding: 2px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.modal .form__radio {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.modal .form__radio input {
  display: none;
}
.modal .form__radio input:checked + span {
  padding: 7px 28px 5px 28px;
  opacity: 1;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
  border-radius: 100px;
}
.modal .form__radio span {
  font-size: 12px;
  opacity: 0.7;
}
.modal .form__radio span:hover {
  cursor: pointer;
}
.modal .form h3 {
  margin-top: 17px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 11px;
}
.modal .form__dops {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.modal .form__button {
  position: fixed;
  bottom: 30px;
  width: 100%;
}
.modal .form__button button {
  max-width: 320px;
  width: 100%;
}

.modal2 {
  max-width: 740px;
  height: 389px;
  top: 20vh;
}
.modal2__descr {
  margin-bottom: 15px;
}
.modal2__descr2 {
  color: #4D4D4D;
}

.dop {
  padding-top: 3px;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05);
  border-radius: 12px;
  margin: 0 auto;
}
.dop__text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.dop__name {
  font-size: 12px;
  line-height: 16px;
  color: #000;
  width: 81px;
  margin-bottom: 4px;
  min-height: 32px;
}
.dop__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
.dop input {
  display: none;
}
.dop__check {
  outline: 1px solid #F96900;
}
.dop__check__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dop:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .product .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__top {
    justify-content: center;
  }
  .footer__phone {
    text-align: center;
  }
  .footer__mail {
    text-align: center;
  }
  .footer__other {
    width: auto;
  }
  .footer__other ul {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__other li {
    margin-bottom: 10px;
  }
  .footer__other li a {
    line-height: 22px;
  }
  .modal__border .border {
    display: none;
  }
}
@media (max-width: 768px) {
  .product .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__top {
    margin-bottom: 20px;
  }
  .modal .form__dops {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal .form__button {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    margin-right: 30px;
  }
}
@media (max-width: 576px) {
  .header {
    margin-top: 12px;
    order: -2;
  }
  .header__phone {
    display: none;
  }
  .logo p {
    display: none;
  }
  .menu {
    overflow: auto;
    order: -1;
    margin-bottom: 20px;
    padding: 13px 16px;
  }
  .menu::-webkit-scrollbar {
    display: none;
  }
  .menu .content {
    width: max-content;
  }
  .menu .content .active {
    background-color: #FFF0E6;
  }
  .menu .content .active a {
    color: #D15700;
  }
  .menu__nav {
    max-width: max-content;
  }
  .menu__nav li {
    background: #F3F3F7;
    padding: 6px 15px;
    border-radius: 100px;
    margin-right: 8px;
  }
  .menu__nav li a {
    font-weight: 600;
    color: #464C55;
    line-height: 19px;
  }
  .menu__basket.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    padding: 14px;
    background: linear-gradient(180deg, #FF6A0A 0%, #FD5608 100%);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
  }
  .menu__basket.button span {
    display: none;
  }
  .menu__basket.button img {
    display: block;
  }
  .menu__quantity {
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    outline: 1px solid #FF6409;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -4px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FF6409;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider {
    margin-top: 0;
    justify-content: flex-start;
    margin-left: 16px;
    margin-bottom: 20px;
    order: -2;
  }
  .slider img {
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
  }
  .slider__dotts {
    display: none;
  }
  .slider .desktop {
    display: none;
  }
  .slider .mobile {
    display: block;
  }
  .new {
    overflow: auto;
    order: -2;
  }
  .new .content {
    margin-bottom: 30px;
  }
  .new h2 {
    margin-bottom: 10px;
  }
  .new__card {
    width: 240px;
    height: 108px;
    margin-right: 10px;
  }
  .product .content {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .product h2 {
    margin-bottom: 20px;
  }
  .product:last-of-type {
    padding-bottom: 40px;
  }
  .card {
    max-width: 576px;
    padding: 16px 0;
    flex-direction: row;
    align-items: center;
    min-height: auto;
  }
  .card img {
    margin: 0;
    margin-right: 7px;
    position: unset;
    width: 115px;
  }
  .card__name {
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 18px;
  }
  .card__descr {
    font-size: 12px;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 8px;
    min-height: unset;
  }
  .card button {
    display: none;
  }
  .card__bottom .button {
    width: 96px;
  }
  .button {
    font-size: 14px;
    height: 32px;
    padding: 6px 20px;
  }
  #pizza h2 {
    display: none;
  }
  #pizza .product {
    margin-top: 0;
  }
  .footer {
    padding: 20px 0;
  }
  .footer__top {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__lists {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    font-weight: 600;
  }
  .footer__lists p {
    margin-bottom: 12px;
    line-height: 24px;
  }
  .footer__lists a {
    line-height: 24px;
  }
  .footer__list {
    margin-bottom: 10px;
  }
  .footer__list li {
    max-width: fit-content;
  }
  .footer__phone {
    display: none;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__contacts a {
    margin-bottom: 20px;
  }
  .footer__apps {
    text-align: left;
    margin-bottom: 0;
  }
  .footer__mail {
    text-align: left;
  }
  .footer__mail a {
    font-size: 16px;
  }
  .footer hr {
    margin-bottom: 20px;
    display: none;
    opacity: 0.1;
    width: 100%;
  }
  .footer__middle {
    display: none;
  }
  .footer__bottom .wrapper {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .footer .mobile {
    display: block;
  }
  .modal {
    top: 0;
    height: -webkit-fill-available;
  }
  .modal__content {
    flex-direction: column;
    border-radius: unset;
  }
  .modal__img {
    padding-top: 26px;
    margin: 0 0 6px 0;
  }
  .modal__settings {
    max-width: unset;
    background: unset;
    padding: 0 16px;
    margin-bottom: 40px;
  }
  .modal__pizza {
    width: 288px;
    height: 288px;
  }
  .modal .form__dops {
    column-gap: 8px;
    margin-bottom: 78px;
  }
  .modal .form__button {
    bottom: 16px;
    margin: 0 0 0 -16px;
  }
  .modal .form__button button {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    max-width: 288px;
  }
  .modal__close {
    top: 16px;
    left: 16px;
    background: red;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  }
  .modal__close .icon__close {
    display: none;
  }
  .modal__close .icon__arrow {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
  }
  .dop {
    width: 140px;
  }
  .dop img {
    margin: 0 auto;
  }
  .dop:first-of-type img {
    margin: 10px 0 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
