* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1092px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 14.67px;
}
.logo h1 {
  font-weight: 800;
  font-size: 25px;
}
.logo p {
  margin-top: 9px;
  font-size: 12px;
}

.button {
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #D15700;
  background-color: #FFF0E6;
  border-radius: 1000px;
  padding: 9px 18px;
  line-height: 21.8px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-out;
}
.button:hover {
  cursor: pointer;
  background-color: #FFD0B2;
  color: #D55406;
}
.button--orange {
  color: #fff;
  background-color: #F96900;
}
.button--orange:hover {
  color: #fff;
  background-color: #ED5D08;
}

.card {
  position: relative;
  max-width: 250px;
  width: 100%;
  min-height: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card img {
  top: 0;
  position: absolute;
  margin: 0 15px 5px 15px;
  transition: all 0.3s ease-out;
}
.card img:hover {
  top: 3px;
}
.card__name {
  margin-top: 220px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
  flex-grow: 1;
  max-width: 201px;
  width: 100%;
  z-index: 1;
}
.card__descr {
  margin-bottom: 11px;
  margin-right: 15px;
  min-height: 57px;
  color: #73798C;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  flex-grow: 1;
}
.card__bottom {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__bottom .button {
  width: 120px;
}
.card__price {
  font-weight: 600;
}
.card:hover {
  cursor: pointer;
}

.order {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 25px;
}
.header__content {
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.header__phone {
  text-align: right;
}
.header__phone a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.5px;
  color: #000;
}
.header__phone p {
  font-size: 15px;
  line-height: 24.5px;
  color: #999;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 9px 16px;
  background-color: #fff;
}
.menu .content {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu__nav {
  max-width: 467px;
  width: 100%;
}
.menu .active {
  color: #F96900;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu li {
  display: inline;
}
.menu li a {
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease-out;
}
.menu li a:hover {
  color: #F96900;
}

.slider {
  position: relative;
  margin-top: 21px;
  margin-bottom: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.slider img {
  max-width: 1090px;
  width: 100%;
  opacity: 0.2;
  padding: 0 16px;
  border-radius: 15px;
}
.slider img:hover {
  cursor: pointer;
}
.slider .active {
  opacity: 1;
}
.slider .mobile {
  display: none;
}
.slider__dotts {
  position: absolute;
  bottom: 17px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.slider__dotts .dot {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  background: #554D4A;
  border-radius: 50%;
  border: none;
}
.slider__dotts .dot:hover {
  cursor: pointer;
}
.slider:hover .slider__dotts {
  opacity: 1;
}

.new {
  overflow: hidden;
}
.new h2 {
  margin-bottom: 20px;
}
.new .content {
  padding-top: 10px;
  height: 104px;
  margin-bottom: 50px;
  display: flex;
  width: max-content;
}
.new__card {
  height: 104px;
  width: 250px;
  margin-right: 20px;
  padding: 14px 18px;
  display: flex;
  transition: all 0.3s ease-out;
  align-items: center;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
}
.new__card img {
  width: 76px;
  margin-right: 22px;
}
.new__card:hover {
  cursor: pointer;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
}
.new__name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 19px;
}
.new__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.product {
  padding-top: 20px;
  margin-bottom: 50px;
}
.product .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 20px;
  row-gap: 60px;
}
.product:last-of-type {
  padding-bottom: 84px;
}

.footer {
  background-color: #464C55;
  padding-top: 50px;
  padding-bottom: 36px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.footer__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 666px;
  width: 100%;
  color: #fff;
}
.footer__lists p {
  margin-bottom: 10px;
  font-weight: 600;
}
.footer__lists li {
  margin-bottom: 10px;
  max-width: 130px;
  width: 100%;
}
.footer__lists a {
  color: #fff;
  opacity: 0.7;
  line-height: 26px;
  transition: all 0.3s ease-out;
}
.footer__lists a:hover {
  opacity: 1;
}
.footer__contacts a {
  display: inline-block;
  margin-bottom: 29px;
}
.footer__phone {
  margin-bottom: 26px;
  text-align: right;
}
.footer__phone a {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 6px;
}
.footer__phone p {
  margin-top: 6px;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__mail {
  text-align: right;
}
.footer__mail a {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.9;
}
.footer hr {
  margin: 0;
  margin-bottom: 40px;
  opacity: 0.2;
  height: 1px;
}
.footer__middle {
  margin-bottom: 40px;
  max-width: 696px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__middle .statistic {
  max-width: 299px;
  width: 100%;
}
.footer__middle .statistic__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 12px;
}
.footer__middle .statistic__descr {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  margin-right: 28.39px;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  color: #C7C8CB;
}
.footer__copyright {
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__other {
  max-width: 443px;
  width: 100%;
}
.footer__other ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__other a {
  color: #FFFFFF;
  opacity: 0.7;
  transition: all 0.3s ease-out;
}
.footer__other a:hover {
  opacity: 1;
}
.footer__social {
  display: flex;
  height: 32px;
}
.footer__social a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  background-color: #666c75;
  border-radius: 4px;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social a:hover img {
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(62deg) brightness(106%) contrast(100%);
}
.footer__social a img {
  transition: all 0.5s ease-out;
  filter: invert(76%) sepia(5%) saturate(167%) hue-rotate(182deg) brightness(95%) contrast(97%);
}
.footer .mobile {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1092px;
  }
}
@media (max-width: 992px) {
  .product .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .product .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .header {
    margin-top: 12px;
    order: -2;
  }
  .header__phone {
    display: none;
  }
  .logo p {
    display: none;
  }
  .menu {
    overflow: hidden;
    order: -1;
    margin-bottom: 20px;
  }
  .menu .content {
    width: max-content;
  }
  .menu .content .active {
    background-color: #FFF0E6;
  }
  .menu .content .active a {
    color: #D15700;
  }
  .menu__nav {
    max-width: max-content;
  }
  .menu__nav li {
    background: #F3F3F7;
    padding: 6px 15px;
    border-radius: 100px;
    margin-right: 8px;
  }
  .menu__nav li a {
    font-weight: 600;
    color: #464C55;
    line-height: 19px;
  }
  .menu__basket {
    display: none;
  }
  .slider {
    margin-top: 0;
    justify-content: flex-start;
    margin-left: 16px;
    margin-bottom: 20px;
    order: -2;
  }
  .slider img {
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
  }
  .slider__dotts {
    display: none;
  }
  .slider .desktop {
    display: none;
  }
  .slider .mobile {
    display: block;
  }
  .new {
    order: -2;
  }
  .new .content {
    margin-bottom: 30px;
  }
  .new h2 {
    margin-bottom: 10px;
  }
  .new__card {
    width: 240px;
    height: 108px;
    margin-right: 10px;
  }
  .product {
    padding-top: 0;
    margin-bottom: 30px;
  }
  .product .content {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .product h2 {
    margin-bottom: 20px;
  }
  .product:last-of-type {
    padding-bottom: 40px;
  }
  .card {
    max-width: 576px;
    padding: 16px 0;
    flex-direction: row;
    align-items: center;
    min-height: auto;
  }
  .card img {
    margin: 0;
    margin-right: 7px;
    position: unset;
    width: 115px;
  }
  .card__name {
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 18px;
  }
  .card__descr {
    font-size: 12px;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 8px;
    min-height: unset;
  }
  .card button {
    display: none;
  }
  .card__bottom .button {
    width: 96px;
  }
  .button {
    font-size: 14px;
    height: 32px;
    padding: 6px 20px;
  }
  #pizza h2 {
    display: none;
  }
  #pizza .product {
    margin-top: 0;
  }
  .footer {
    padding: 20px 0;
  }
  .footer__top {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__lists {
    grid-template-columns: 1fr;
    font-weight: 600;
  }
  .footer__lists p {
    margin-bottom: 12px;
    line-height: 24px;
  }
  .footer__lists a {
    line-height: 24px;
  }
  .footer__list {
    margin-bottom: 10px;
  }
  .footer__list li {
    max-width: fit-content;
  }
  .footer__phone {
    display: none;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__contacts a {
    margin-bottom: 20px;
  }
  .footer__mail {
    text-align: left;
  }
  .footer__mail a {
    font-size: 16px;
  }
  .footer hr {
    margin-bottom: 20px;
    display: none;
    opacity: 0.1;
    width: 100%;
  }
  .footer__middle {
    display: none;
  }
  .footer__bottom .wrapper {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .footer__other ul {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__other li {
    margin-bottom: 10px;
  }
  .footer__other li a {
    line-height: 22px;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .footer .mobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
